MONGO_URI="mongodb+srv://<username>:<password>@<cluster-host>/?appName=Cluster0"
# MONGO_URI="mongodb://<host>:27017"

PORT=3000
HOST="localhost"

NODE_ENV=local # development | local

IMAGES_PATH=../../../images


SMTP_HOST="smtp.example.com"
SMTP_PORT=465
SMTP_USER="no-reply@example.com"
SMTP_PASS="<smtp-password>"
EMAIL_FROM_NAME="212 Messenger"
DEFAULT_EMAIL_FROM="no-reply@example.com"

AWS_ACCESS_KEY_ID="<aws-access-key-id>"
AWS_SECRET_ACCESS_KEY="<aws-secret-access-key>"
AWS_REGION="eu-west-2"
AWS_S3_BUCKET_NAME="<s3-bucket-name>"

# Agora details
APP_ID="<agora-app-id>"
APP_CERTIFICATE="<agora-app-certificate>"

# DEVELOPMENT

FIREBASE_CREDENTIALS='{
  "type": "service_account",
  "project_id": "<firebase-project-id>",
  "private_key_id": "<private-key-id>",
  "private_key": "-----BEGIN PRIVATE KEY-----\n<private-key-contents>\n-----END PRIVATE KEY-----\n",
  "client_email": "firebase-adminsdk@<project-id>.iam.gserviceaccount.com",
  "client_id": "<client-id>",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",
  "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/firebase-adminsdk%40<project-id>.iam.gserviceaccount.com",
  "universe_domain": "googleapis.com"
}'

RSA_PASSPHRASE="<rsa-passphrase>"
