MONGO_URI="mongodb+srv://habibullahyeasindev_db_user:ee9aFW***1@cluster0.ldawngl.mongodb.net/?appName=Cluster0"
# MONGO_URI="mongodb://18.130.137.253:27017"
# MONGO_URI="mongodb+srv://freshcode:****R@cluster0.4mezs.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

PORT=3000
HOST="localhost"

NODE_ENV=local # development | local

IMAGES_PATH=../../../images


SMTP_HOST="mail.the212.me"
SMTP_PORT=465
SMTP_USER="no-reply@the212.me"
SMTP_PASS="f-****@2C"
EMAIL_FROM_NAME="212 Messenger"
DEFAULT_EMAIL_FROM="no-reply@the212.me"

AWS_ACCESS_KEY_ID="AKIA***LLAE4Q"
AWS_SECRET_ACCESS_KEY="Ryyf+C0****v8I5FlgdDkCAcRsiuAEyu/e"
AWS_REGION="eu-west-2"
AWS_S3_BUCKET_NAME="telegrameclone"

# Agora details
APP_ID="a30169***5b7b56"
APP_CERTIFICATE="13a7eeceb244d*****1d32239307e4"

#client
# APP_CERTIFICATE="d385277****ca862a10b"
# APP_ID="3d31e89****39ab157719"

# DEVELOPMENT

FIREBASE_CREDENTIALS='{
  "type": "service_account",
  "project_id": "telegra***4990c",
  "private_key_id": "b0a7fb6ecd1105****edc3f2c53a",
  "private_key": "-----BEGIN PRIVATE KEY-----\nMIF4m/3P8UmDn1\nN3MAPzcejZuO5wGTtKuWo=\n-----END PRIVATE KEY-----\n",
  "client_email": "firebase-adminsdk.iam.unt.com",
  "client_id": "1047777*****123",
  "auth_uri": "https://accounts.google.com/o/oauth2/auth",
  "token_uri": "https://oauth2.googleapis.com/token",
  "auth_provider_x509_cert_url": "v1/certs",
  "client_x509_cert_url": "-clone-4990c.iam.gserviceaccount.com",
  "universe_domain": ""
}'

RSA_PASSPHRASE="212M888888888lowUpMinds"